<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<header>
    <div class="menu-icon">&#9776;</div>
    <h1>Tools To Go</h1>
</header>
<body>
