<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Tube To Go</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <button class="menu-icon">&#9776;</button>
            <button class="home-icon">&#8962;</button>
        </div>
        <div class="navbar-right">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
    </nav>
    <header>
        <h1>Tube To GO!</h1>
        <p style="font-size: 80%;">Dahil sa Tube To Go, YouTube Mo, Madaling Kopyahin!</p>
    </header>
    <div class="converter-box">
        <form id="converter-form" action="/.netlify/functions/yt-mp4-converter/download" method="get">
            <div class="input-container" id="input-container">
                <textarea id="video-url" placeholder="Paste link here" required></textarea>
                <button id="generate-button" type="submit" style="background-color: #3e5c7b; color: white;">
                    <i id="cog-icon" class="fas fa-cog"></i> Generate Link
                </button>
            </div>
        </form>
        <div id="video-info" style="display: none;">
            <img id="thumbnail" src="" alt="Video Thumbnail">
            <p id="title"></p>
            <p id="length"></p>
            <select id="quality" hidden>
                <option value="1080p">1080p</option>
                <option value="360p">360p</option>
            </select>
            <button id="download-button" style="background-color: #3e5c7b; color: white;"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
        </div>
        <p class="note">💡Generate for free. No signup needed</p>
    </div>
    <footer>
        <button class="explore-tools">More tools soon</button>
    </footer>
    <p style="font-size: 80%;">Developed with <span class="blue-heart">&#x1F499;</span> by Ram Ortega</p>
    <script src="./js/script.js"></script>
</body>
</html>
